.dialogs {
          display: grid;
          grid-template-columns: 2fr 10fr;
}
.dialog {
  color: blue;
}

.active {
  color:greenyellow;
}

.message {
  color:wheat;
}

.textarea {
  width: 200px;
  height: 100px;
}

.fieldError {
  border: 3px solid red;
}